VIRTUAL_HOST=playlogic.example.com
LETSENCRYPT_HOST=playlogic.example.com
LETSENCRYPT_EMAIL=letsencrypt@example.com
CDN_HOST=cdn.example.com

TWITTER_API_KEY=
TWITTER_API_KEY_SECRET=
TWITTER_BEARER_TOKEN=

#NOAUTH=1
